body{
	margin:40px;
}
.site{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:repeat(6,1fr);
	grid-gap: 1em 1.5em;

		grid-template-areas:
		"title title title title title title title title"
		"home home menu menu career career contact contact"
		"copy copy copy copy copy copy copy copy "
		"appitizer appitizer mcourse mcourse drinks drinks"
		"application application application application application application application application"
		"contactus contactus contactus contactus location location location location";
}
// Web page view ------------------------------------------------------------------------------
@media screen and (min-width: 737px)and (max-width: 1680px){
	// 	body{
	// 	background: blue;
	// }
	.site{
		grid-template-areas:
		"title title title title title title title title"
		"home home menu menu career career contact contact"
		"copy copy copy copy copy copy copy copy "
		"appitizer appitizer appitizer mcourse mcourse mcourse drinks drinks"
		"application application application application application application application application"
		"contactus contactus contactus contactus location location location location";
	}
}
// Tablet view ------------------------------------------------------------------------------

// Phone view ------------------------------------------------------------------------------
